<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>MEAT!</title>
    <link href='https://fonts.googleapis.com/css?family=Arbutus' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<style>
    body {
        background-image: url("assets/img/grill-medium.jpg");
        background-repeat: repeat-x;
        color:#95999c;
        font-family: 'Arbutus';font-size: 22px;
        font-size: 22px;
    }
    h1 {
        color:#ffc107;
    }


</style>
<body>
<app-navbar></app-navbar>
<h1> BBQ IN x DAYS! </h1>
<div class="container">Summer BBQ
    We will have:
    <ul>
        <li>burgers</li>
        <li>hotdogs</li>
        <li>pulled pork</li>
        <li>Philly Cheesesteaks</li>
        <li>baked beans</li>
        <li>mac n cheese</li>
        <li>sodas</li>
    </ul>
</div>
<div class="container">
    <h4 class="card-title">Address</h4>
    <p class="card-text">
        529 Whispering Lakes Blvd.</p>
    <p class="card-text">Tarpon, Springs, FL  34688
    </p>
    <a href="https://www.google.com/maps/place/529+Whispering+Lakes+Blvd,+Tarpon+Springs,+FL+34688/@28.1396455,-82.664927,21z/data=!4m22!1m16!4m15!1m6!1m2!1s0x88c2937218a1f74f:0x4947dbdd59e0e945!2s529+Whispering+Lakes+Blvd,+Tarpon+Springs,+FL+34688-9022,+USA!2m2!1d-82.6649266!2d28.1396765!1m6!1m2!1s0x88c2937218a1f74f:0x4947dbdd59e0e945!2s529+Whispering+Lakes+Blvd,+Tarpon+Springs,+FL+34688-9022,+USA!2m2!1d-82.6649266!2d28.1396765!3e0!3m4!1s0x88c2937218a1f74f:0x4947dbdd59e0e945!8m2!3d28.1396765!4d-82.6649266">Google Maps</a>
</div>


<div class="container">
<app-items></app-items>
<app-add-item></app-add-item>
</div>  