
body {
    background-image: url("/src/assets/img/grill-small.jpg");
    background-repeat: repeat-x;
    background-color: black;
    color:#95999c;
    font-family: 'Arbutus';font-size: 22px;
    font-size: 22px;
}
h1 {
    color:#ffc107;
}